.container-fluid{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  position: relative;
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(212, 212, 212);
  z-index: 5;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}

/deep/ .hide-overflow {
  overflow-y: hidden;
}

.name{
  font-family: 'Indie Flower', cursive;
  color: rgb(240, 79, 74);
  font-weight: bolder;
  font-size:  30px;
  line-height: 60px;
}

.cart-btn{
  cursor: pointer;
  /*-webkit-transition: all 2s easy;
  transition: all 2s easy;*/
}

.cart-btn-animation{
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-5deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-5deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-5deg); }
}

.cart-icon{
  line-height: 60px;
  font-size:  24px;
  color: rgb(240, 79, 74);
  text-align: center;
  width: 70px;
  z-index: 5;
}


.cart-counter{
  background-color: rgb(103, 236, 86);
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 9px;
  line-height: 14px;
  font-size: 12px;
  position: absolute;
  right: 35px;
  z-index: -2;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .name{
    font-size:  24px;
    line-height: 40px;
  }

  .cart-icon{
    line-height: 40px;
    font-size:  20px;
  }
  .cart-counter{
    right: 25px;
    z-index: 1;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}
