<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-auto">
            <div class="name">
                shopping
            </div>
        </div>
        <div class="col-auto">
            <div class="cart-btn" (click)="openCart()">
                <div *ngIf="num>0" class="cart-counter">{{num}}</div>
                <div  [ngClass]="{'cart-btn-animation': cartAnimation}" class="cart-icon">
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cart *ngIf="openedCart" (onClose)="onClose($event)"></app-cart>
