.container-fluid{
  padding: 0;
}

.container-shade{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}

.container-cart{
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  /*max-height: 100vh;*/
  background-color: rgb(242, 242, 242);
}

.container-items{
  z-index: 20;
  flex: 1;
  overflow-y: auto;
  background-color: white;
}

.container-total{
  position: relative;
  padding: 10px;
  min-width: 100%;
  bottom: 0;
  background-color: rgb(240, 79, 74);
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
}

.cart-title{
  font-family: 'Indie Flower', cursive;
  color: rgb(240, 79, 74);
  font-weight: bolder;
  font-size:  30px;
  line-height: 60px;
  text-align: center;
}

.card{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.col-cart{
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.col-cart-item{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.btn-amnt{
  color: rgb(43, 144, 217);
  cursor: pointer;
  font-size: 26px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-amnt:hover{
  color: rgb(109, 217, 43);
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text-amnt{
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  margin: 0;
}

.card-img-top{
  max-height: 70px;
  max-width: 70px;
  width: auto;
  height: auto;
  align-self: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.item-name{
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.item-specs{
  font-size: 12px;
  line-height: 12px;
  color: rgb(133, 133, 133);
  margin: 0;
}

.item-price{
  font-size: 15px;
  font-weight: bolder;
  align-self: center;
}

.close-load-btn{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  line-height: 40px;
  font-size: 35px;
  color: rgb(121, 121, 121);
}


@media (max-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .card-img-top{
    max-height: 50px;
    max-width: 50px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .item-name{
    font-size: 11px;
  }

  .btn-amnt:hover{
    color: rgb(43, 144, 217);
    font-size: 26px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .btn-amnt:active{
    color: rgb(109, 217, 43);
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .container-cart{
    min-width: 100%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}
