<div class="container-fluid">

      <div class="container-shade" (click)="closeCart()"></div>
      <div class="container-cart">
          <div class="cart-title">
              Tu carrito:
              <div class="close-load-btn" (click)="closeCart()">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </div>
          </div>
          <div class="container-items">
              <div class="card" [@enterAnimation] *ngFor="let itemCart of items; let i = index ">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-3 col-cart">
                          <div class="btn-amnt" (click)="add(itemCart.item)">
                            <i class="fa fa-caret-up" aria-hidden="true"></i></div>
                          <h4 class="text-amnt">{{itemCart.num}}</h4>
                          <div class="btn-amnt" (click)="remove(i)">
                            <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-6 col-cart-item">
                          <img class="card-img-top" [src]="itemCart.item.imageUrl" alt="Card image cap">
                          <h4 class="item-name">{{itemCart.item.name}}</h4>
                        </div>
                        <!-- <div class="col-auto">
                            <h4 class="item-name">{{itemCart.item.name}}</h4>
                        </div> -->
                        <div class="col-3 col-cart">
                            <div class="item-price">
                                ${{itemCart.item.price}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="container-total">
              <div class="container">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <b>Total</b>
                    </div>
                    <div class="col-auto">
                        ${{total}}
                    </div>
                </div>
              </div>
          </div>
      </div>

</div>
