.container-cover{
  /*background: url(../assets/bg-pattern.png),#dc2430;
  background: url(../assets/bg-pattern.png),-webkit-linear-gradient(to left,#eda978,#f04c57);
  background: url(../assets/bg-pattern.png),linear-gradient(to left,#eda978,#f04c57);*/
  background-image: url(../assets/bg-pattern.png);
  background-color: rgb(242, 242, 242);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container-btn-load{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form-btn-load{
  align-self: center;
  text-align: center;
}

.btn-load{
  /*margin: 15px;*/
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.38);
  font-weight: bold;
  border-radius: 100px;
  border: solid;
	padding: 15px 45px;
  color: rgb(240, 79, 74);
  border-color: rgb(240, 79, 74);
  transition: all 0.6s;
  cursor: pointer;
}


.btn-load:hover{
  transition: all 0.6s;
  color: white;
  background-color: rgb(240, 79, 74);
}

.screen-load{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  min-height: 100vh;
  flex: 1;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}

.transform {
  opacity: 0.5;
}

.container-shade{
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.container-load{
  position: inherit;
  min-width: 60%;
  flex: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  z-index: 11;
}


.form-load{
  align-self: center;
  text-align: center;
  min-width: 100%;
  padding: 15px;
    font-family: 'Indie Flower', cursive;
}

.close-load{
  position: absolute;
  top: 0;
  padding: 15px;
  line-height: 40px;
  font-size: 35px;
  color: rgb(121, 121, 121);
}

.close-load-btn{
  cursor: pointer;
}


.title{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.input{
  padding: 10px;
  height: 48px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  border-radius: 12px;
  background-color: rgb(215, 72, 72);
  display: inline-block;
  cursor: pointer;
  min-width: 100%;
}

.input-url{
  padding: 10px;
  height: 48px;
  border-radius: 12px;
  border-style: none;
  min-width: 100%;
}

.input-col{
  /*padding: 0;*/
}

@media (max-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .close-load{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .container-load{
    min-width: 100%;
    min-height: 100%;
    align-content: center;

  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}
