<div class="container">
    <div class="row">
        <div class="col-md-7 col-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-find" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
            </div>
        </div>
        <div class="col-md-5 col-12">
            <div class="btn-group btn-group-filter">
            <button type="button" class="btn dropdown-toggle btn-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar
            </button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Filtrar</h6>
              <a class="dropdown-item">Disponibles</a>
              <a class="dropdown-item">Agotados</a>
              <a class="dropdown-item">Mas Vendidos</a>
              <a class="dropdown-item">Mayor a $30.000</a>
              <a class="dropdown-item">Menor a $10.000</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Categorias</h6>
              <a class="dropdown-item" href="#">fruits</a>
              <a class="dropdown-item" href="#">drinks</a>
              <a class="dropdown-item" href="#">health</a>
              <a class="dropdown-item" href="#">snacks</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Ordenar</h6>
              <a class="dropdown-item" href="#">Nombre</a>
              <a class="dropdown-item" href="#">Mayor Precio</a>
              <a class="dropdown-item" href="#">Menor Precio</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-6"  *ngFor="let item of items">
          <div class="card">
              <img class="card-img-top" [src]="item.imageUrl" alt="Card image cap">
              <div class="card-body">
                  <div class="item-price">
                      ${{item.price}}
                  </div>
                  <h4 class="card-title">{{item.name}}</h4>
                  <p class="item-specs">{{item.specs}}</p>
                  <!-- <div class="row align-items-end">
                      <div class="col">
                        <a href="#" class="btn btn-addCart">Agregar</a>
                      </div>
                  </div> -->
              </div>

                <div class="add-cart">
                <div class="btn btn-addCart" (click)="addToCart(item)">Agregar</div>
                </div>
          </div>
        </div>
    </div>
</div>
