.containter{
  overflow: auto;
}

.card{
  min-height: 100%;
  padding: 10px;
}

.card-img-top{
  max-height: 150px;
  max-width: 150px;
  width: auto;
  height: auto;
  align-self: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card-body{
  position: relative;
  padding: 0px;
  display: flex;
  flex-flow: column;
  align-content: stretch;
}

.card-title{
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.item-specs{
  font-size: 12px;
  line-height: 12px;
  color: rgb(133, 133, 133);
  margin: 0;
}

.item-price{
  min-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: bolder;
}

.add-cart{
  margin-top: 15px;
  position: relative;
  min-width: 100%;
  bottom: 0;
}

.btn-addCart{
  min-width: 100%;
  border-radius: 6px;
  color: rgb(29, 208, 95);
  border-color: rgb(29, 208, 95);
  cursor: pointer;
}

.btn-addCart:hover{
  color: white;
  background-color: rgb(29, 208, 95);

}

[class*="col-"]{
  padding: 10px 5px 10px 5px;
}

.btn-find{
  color: white;
  cursor: pointer;
  background-color: rgb(240, 79, 74);
}

.btn-group-filter{
  min-width: 100%;
}

.dropdown-menu{
  min-width: 100%;
}

.btn-filter{
  min-width: 100%;
  background-color: white;
  color: rgb(162, 162, 162);
  border: 1px solid rgb(212, 212, 212);
}

.dropdown-item{
  cursor: pointer;
}

@media (max-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .card-img-top{
    max-height: 110px;
    max-width: 110px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  [class*="col-"]{
    padding: 1px 0px 1px 0px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

}
